@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 385px;
    margin: 0 auto;
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05)
}
  
body::-webkit-scrollbar-thumb {
    background-color:lightgray;
    border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.header {
    background-color: #C3CFD9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67px;
}

.header h1 {
    color: #E8833A;
    font-size: 34px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.title h2 {
    color: #293845;
    font-size: 24px;
}

.container-movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 800px;
    padding: 0 30px 30px 30px;
    overflow-y: scroll;
}

.container-movies::-webkit-scrollbar {
    width: 5px;
}
  
.container-movies::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05)
}
  
.container-movies::-webkit-scrollbar-thumb {
    background-color:lightgray;
    border-radius: 20px;
}

.container-movies::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.poster-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 209px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    cursor: pointer;
}

.poster-frame img {
    width: 129px;
    height: 193px;
}

.container-sessions {
    height: 680px;
    padding: 0 30px 30px 30px;
    overflow-y: scroll;
}

.container-sessions::-webkit-scrollbar {
    width: 5px;
}
  
.container-sessions::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05)
}
  
.container-sessions::-webkit-scrollbar-thumb {
    background-color:lightgray;
    border-radius: 20px;
}

.container-sessions::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.container-sessions h3 {
    color: #293845;
    font-size: 20px;
}

.container-sessions div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    height: 103px;
}

.container-sessions button {
    background-color: #E8833A;
    color: #FFF;
    font-size: 18px;
    width: 83px;
    height: 43px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.container-sessions button:hover {
    filter: brightness(1.1);
}

.footer {
    background-color: #DFE6ED;
    display: flex;
    align-items: center;
    padding: 18px;
}

.footer h2 {
    color: #293845;
    font-size: 26px;
    padding: 4px 14px;
}

.image-frame {
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 90px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.image-frame img {
    width: 90%;
    height: 90%;
}

.container-seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-seats-examples {
    display: flex;
    justify-content: space-around;
    font-size: 13px;
}

.seat {
    font-size: 11px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    margin: 0 6px 20px 6px;
    border-radius: 17px;
    cursor: pointer;
}

.seat.available {
    background-color: #C3CFD9;
    border: 1px solid #7B8B99;
}

.seat.selected {
    background-color: #8DD7CF;
    border: 1px solid #1AAE9E;
}

.seat.unavailable {
    background-color: #FBE192;
    border: 1px solid #F7C52B;
}

.form form {
    font-size: 18px;
    height: 390px;
    padding: 50px 10px 10px 10px;
}

.form form div {
    padding: 5px;
}

.form form div input {
    color: #293845;
    font-size: 18px;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 10px;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
}

.form form div input::placeholder {
    color: #AFAFAF;
    font-style: italic;
}

.form form div input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.5);
}

.form form div button {
    background-color: #E8833A;
    color: #FFF;
    font-size: 18px;
    width: 225px;
    height: 42px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form form div button:hover {
    filter: brightness(1.1);
}

.form form div:nth-child(3) {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.success-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.success-title h2 {
    color: #247A6B;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    width: 150px;
}

.container-success {
    color: #293845;
    font-size: 22px;
    height: 360px;
    padding: 20px 30px 0 30px;
    overflow-y: scroll;
}

.container-success h2 {
    color: 24px;
    font-weight: 700;
    padding-bottom: 8px;
}

.container-success div:nth-child(1) {
    padding-bottom: 50px;
}

.container-success div:nth-child(2) {
    padding-bottom: 50px;
}

.success-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.success-button button {
    background-color: #E8833A;
    color: #FFF;
    font-size: 18px;
    width: 225px;
    height: 42px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.success-button button:hover {
    filter: brightness(1.1);
}

.container-success::-webkit-scrollbar {
    width: 5px;
}
  
.container-success::-webkit-scrollbar-thumb {
    background-color:lightgray;
    border-radius: 20px;
}

.container-success::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}